In [27]:
import sys
import os
import pandas as pd
import numpy as np

current_path = '/Users/ericklopez/Desktop/Developing_and_Deploying_a_Predictive_Analytics_Platform_Using_FastAPI_Streamlit_and_Docker/empirical/notebooks/data_preprocessing.ipynb'
sys.path.insert(0, os.path.dirname(os.path.dirname(current_path)))

from utils.logger import Logger
from utils.helpers import get_directory_name

from src.i_staging_raw_data import download_data_from_url
from src.ii_data_preprocessing import (csv_to_df,
                                       feature_engineering_string_extraction,
                                       remove_alphabetic_chars,
                                       remove_all_non_alphanumeric_characters,
                                       replace_empty_cells_to_NaN,
                                       int_converter,
                                       generate_miles_driven_column,
                                       truncate_column_values,
                                       save_processed_data_to_csv,
                                       convert_currency,
                                       drop_columns,
                                       rename_columns)

In [28]:
fpath = os.path.join(os.path.abspath('..'), 'data', 'raw', 'cars.csv')
df = pd.read_csv(fpath)
df_copy = df.copy()

Data Preprocessing

In [29]:
df_copy.head()

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel

In [30]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   year        892 non-null    object
 2   Price       892 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
dtypes: object(5)
memory usage: 35.0+ KB

In [31]:
df_copy = feature_engineering_string_extraction(df_copy, 'name', 'automaker')
df_copy.head()

INFO: 2024-08-25 07:24:00,539 from src/ii_data_preprocessing.py: 1983: feature_engineering_string_extraction: 60: feature_engineering_string_extraction() successful.

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford

In [32]:
df_copy = remove_all_non_alphanumeric_characters(df_copy, 'year', 'Price', 'kms_driven')
df_copy.head()

INFO: 2024-08-25 07:24:00,573 from src/ii_data_preprocessing.py: 1983: remove_all_non_alphanumeric_characters: 101: remove_all_non_alphanumeric_characters() successful

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000kms,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,AskForPrice,22000kms,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000kms,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000kms,Diesel,Ford

In [33]:
df_copy = remove_alphabetic_chars(df_copy, 'year', 'Price', 'kms_driven')
df_copy.head()

INFO: 2024-08-25 07:24:00,617 from src/ii_data_preprocessing.py: 1983: remove_alphabetic_chars: 80: remove_alphabetic_chars() successful

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,,22000,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford

In [34]:
df_copy = replace_empty_cells_to_NaN(df_copy, 'year', 'Price', 'kms_driven')
df_copy.head()

INFO: 2024-08-25 07:24:00,665 from src/ii_data_preprocessing.py: 1983: replace_empty_cells_to_NaN: 122: replace_empty_cells_to_NaN() successful

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,NaN,22000,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford

In [35]:
df_copy = int_converter(df_copy, 'year', 'Price', 'kms_driven')
df_copy.info()

INFO: 2024-08-25 07:24:00,749 from src/ii_data_preprocessing.py: 1983: int_converter: 141: int_converter() successful.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   year        892 non-null    int64
 2   Price       892 non-null    int64
 3   kms_driven  892 non-null    int64
 4   fuel_type   837 non-null    object
 5   automaker   892 non-null    object
dtypes: int64(3), object(3)
memory usage: 41.9+ KB

In [36]:
df_copy.head()

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,0,22000,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford

In [37]:
df_copy = generate_miles_driven_column(df_copy, 'kms_driven', 'miles_driven')
df_copy.head()

INFO: 2024-08-25 07:24:00,800 from src/ii_data_preprocessing.py: 1983: generate_miles_driven_column: 164: generate_miles_driven_column() successful

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai,27962.0
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra,25.0
2,Maruti Suzuki Alto 800 Vxi,2018,0,22000,Petrol,Maruti,13670.0
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai,17398.0
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford,22369.0

In [38]:
df_copy = int_converter(df_copy, 'miles_driven')
df_copy.head()

INFO: 2024-08-25 07:24:00,828 from src/ii_data_preprocessing.py: 1983: int_converter: 141: int_converter() successful.

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai,27962
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra,25
2,Maruti Suzuki Alto 800 Vxi,2018,0,22000,Petrol,Maruti,13670
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai,17398
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford,22369

In [39]:
df_copy = truncate_column_values(df_copy, 0, 3, 'name')
df_copy.head()

INFO: 2024-08-25 07:24:00,865 from src/ii_data_preprocessing.py: 1983: truncate_column_values: 186: truncate_column_values() successful

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven
0,Hyundai Santro Xing,2007,80000,45000,Petrol,Hyundai,27962
1,Mahindra Jeep CL550,2006,425000,40,Diesel,Mahindra,25
2,Maruti Suzuki Alto,2018,0,22000,Petrol,Maruti,13670
3,Hyundai Grand i10,2014,325000,28000,Petrol,Hyundai,17398
4,Ford EcoSport Titanium,2014,575000,36000,Diesel,Ford,22369

In [40]:
df_copy['automaker'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yama',
       'selling', 'URJE', 'Swift', 'Used', 'Jaguar', 'Hyun', 'Jeep',
       'tata', 'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7',
       '9', 'scratch', 'urgent', 'sell', 'Hyunda', 'TATA', 'Any', 'Ta'],
      dtype=object)

In [41]:
values_to_drop = ['I', 'selling', 'URJE', 'Swift', 'Used', 'Hyun', 'Sale', 'very', 'i','MARUTI', 'Commercial', '2012', 'Well','all', '7', '9' ,'scratch', 'urgent', 'sell', 'Hyunda', 'TATA', 'Any', 'Ta','tata', 'Yama']
df_copy = df_copy[~df_copy['automaker'].isin(values_to_drop)]
df_copy['automaker'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [42]:
values_to_drop = [0, 2, 150]
df_copy = df_copy[~df_copy['year'].isin(values_to_drop)]
df_copy['year'].unique()

array([2007, 2006, 2018, 2014, 2015, 2012, 2013, 2016, 2010, 2017, 2008,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

In [43]:
convert_currency(df_copy, 'Price', 84)

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven,Price_converted
0,Hyundai Santro Xing,2007,80000,45000,Petrol,Hyundai,27962,952.380952
1,Mahindra Jeep CL550,2006,425000,40,Diesel,Mahindra,25,5059.523810
2,Maruti Suzuki Alto,2018,0,22000,Petrol,Maruti,13670,0.000000
3,Hyundai Grand i10,2014,325000,28000,Petrol,Hyundai,17398,3869.047619
4,Ford EcoSport Titanium,2014,575000,36000,Diesel,Ford,22369,6845.238095
...,...,...,...,...,...,...,...,...
886,Toyota Corolla Altis,2009,300000,132000,Petrol,Toyota,82021,3571.428571
888,Tata Zest XM,2018,260000,27000,Diesel,Tata,16777,3095.238095
889,Mahindra Quanto C8,2013,390000,40000,Diesel,Mahindra,24855,4642.857143
890,Honda Amaze 1.2,2014,180000,0,NaN,Honda,0,2142.857143
891,Chevrolet Sail 1.2,2014,160000,0,NaN,Chevrolet,0,1904.761905

In [44]:
drop_columns(df_copy, 'kms_driven', 'Price')

In [45]:
rename_columns(df_copy, Price_converted='price')

In [46]:
int_converter(df_copy, 'price')

INFO: 2024-08-25 07:24:01,102 from src/ii_data_preprocessing.py: 1983: int_converter: 141: int_converter() successful.

                       name  year fuel_type  automaker  miles_driven  price
0       Hyundai Santro Xing  2007    Petrol    Hyundai         27962    952
1       Mahindra Jeep CL550  2006    Diesel   Mahindra            25   5059
2        Maruti Suzuki Alto  2018    Petrol     Maruti         13670      0
3         Hyundai Grand i10  2014    Petrol    Hyundai         17398   3869
4    Ford EcoSport Titanium  2014    Diesel       Ford         22369   6845
..                      ...   ...       ...        ...           ...    ...
886    Toyota Corolla Altis  2009    Petrol     Toyota         82021   3571
888            Tata Zest XM  2018    Diesel       Tata         16777   3095
889      Mahindra Quanto C8  2013    Diesel   Mahindra         24855   4642
890         Honda Amaze 1.2  2014       NaN      Honda             0   2142
891      Chevrolet Sail 1.2  2014       NaN  Chevrolet             0   1904

[840 rows x 6 columns]

In [47]:
abs_path = '/Users/ericklopez/Desktop/Developing_and_Deploying_a_Predictive_Analytics_Platform_Using_FastAPI_Streamlit_and_Docker/empirical/data/processed/cleaned_car_data.csv'
save_processed_data_to_csv(df_copy, abs_path)

INFO: 2024-08-25 07:24:01,218 from src/ii_data_preprocessing.py: 1983: save_processed_data_to_csv: 207: save_processed_data_to_csv() successful

In [48]:
df_copy.describe()

              year   miles_driven          price
count   840.000000     840.000000     840.000000
mean   2012.513095   28521.528571    4769.601190
std       4.023450   21438.271118    5629.622161
min    1995.000000       0.000000       0.000000
25%    2010.000000   15534.000000    1922.000000
50%    2013.000000   25476.000000    3452.000000
75%    2015.000000   35052.750000    5833.000000
max    2019.000000  248548.000000  101190.000000