In [14]:
import sys
import os
import pandas as pd
import numpy as np

current_path = '/Users/ericklopez/Desktop/Developing_and_Deploying_a_Predictive_Analytics_Platform_Using_FastAPI_Streamlit_and_Docker/empirical/notebooks/data_preprocessing.ipynb'
sys.path.insert(0, os.path.dirname(os.path.dirname(current_path)))

from utils.logger import Logger
from utils.helpers import get_directory_name

from src.i_staging_raw_data import download_data_from_url
from src.ii_data_preprocessing import (csv_to_df,
                                       feature_engineering_string_extraction,
                                       remove_alphabetic_chars,
                                       remove_all_non_alphanumeric_characters,
                                       replace_empty_cells_to_NaN,
                                       int_converter,
                                       generate_miles_driven_column,
                                       truncate_column_values,
                                       save_processed_data_to_csv)

In [15]:
fpath = os.path.join(os.path.abspath('..'), 'data', 'raw', 'cars.csv')
df = pd.read_csv(fpath)
df_copy = df.copy()

Data Preprocessing

In [16]:
df_copy.head()

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel

In [17]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   year        892 non-null    object
 2   Price       892 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
dtypes: object(5)
memory usage: 35.0+ KB

In [18]:
df_copy = feature_engineering_string_extraction(df_copy, 'name', 'automaker')
df_copy.head()

INFO: 2024-08-18 16:00:56,891 from src/ii_data_preprocessing.py: 16014: feature_engineering_string_extraction: 60: feature_engineering_string_extraction() successful.

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford

In [19]:
df_copy = remove_all_non_alphanumeric_characters(df_copy, 'year', 'Price', 'kms_driven')
df_copy.head()

INFO: 2024-08-18 16:00:56,970 from src/ii_data_preprocessing.py: 16014: remove_all_non_alphanumeric_characters: 101: remove_all_non_alphanumeric_characters() successful

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000kms,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,AskForPrice,22000kms,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000kms,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000kms,Diesel,Ford

In [20]:
df_copy = remove_alphabetic_chars(df_copy, 'year', 'Price', 'kms_driven')
df_copy.head()

INFO: 2024-08-18 16:00:57,027 from src/ii_data_preprocessing.py: 16014: remove_alphabetic_chars: 80: remove_alphabetic_chars() successful

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,,22000,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford

In [21]:
df_copy = replace_empty_cells_to_NaN(df_copy, 'year', 'Price', 'kms_driven')
df_copy.head()

INFO: 2024-08-18 16:00:57,070 from src/ii_data_preprocessing.py: 16014: replace_empty_cells_to_NaN: 122: replace_empty_cells_to_NaN() successful

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,NaN,22000,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford

In [22]:
df_copy = int_converter(df_copy, 'year', 'Price', 'kms_driven')
df_copy.info()

INFO: 2024-08-18 16:00:57,110 from src/ii_data_preprocessing.py: 16014: int_converter: 141: int_converter() successful.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   year        892 non-null    int64
 2   Price       892 non-null    int64
 3   kms_driven  892 non-null    int64
 4   fuel_type   837 non-null    object
 5   automaker   892 non-null    object
dtypes: int64(3), object(3)
memory usage: 41.9+ KB

In [23]:
df_copy.head()

,name,year,Price,kms_driven,fuel_type,automaker
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,0,22000,Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford

In [24]:
df_copy = generate_miles_driven_column(df_copy, 'kms_driven', 'miles_driven')
df_copy.head()

INFO: 2024-08-18 16:00:57,281 from src/ii_data_preprocessing.py: 16014: generate_miles_driven_column: 164: generate_miles_driven_column() successful

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai,27962.0
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra,25.0
2,Maruti Suzuki Alto 800 Vxi,2018,0,22000,Petrol,Maruti,13670.0
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai,17398.0
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford,22369.0

In [25]:
df_copy = int_converter(df_copy, 'miles_driven')
df_copy.head()

INFO: 2024-08-18 16:00:57,325 from src/ii_data_preprocessing.py: 16014: int_converter: 141: int_converter() successful.

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai,27962
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra,25
2,Maruti Suzuki Alto 800 Vxi,2018,0,22000,Petrol,Maruti,13670
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai,17398
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford,22369

In [26]:
df_copy = truncate_column_values(df_copy, 0, 3, 'name')
df_copy.head()

INFO: 2024-08-18 16:00:57,379 from src/ii_data_preprocessing.py: 16014: truncate_column_values: 186: truncate_column_values() successful

,name,year,Price,kms_driven,fuel_type,automaker,miles_driven
0,Hyundai Santro Xing,2007,80000,45000,Petrol,Hyundai,27962
1,Mahindra Jeep CL550,2006,425000,40,Diesel,Mahindra,25
2,Maruti Suzuki Alto,2018,0,22000,Petrol,Maruti,13670
3,Hyundai Grand i10,2014,325000,28000,Petrol,Hyundai,17398
4,Ford EcoSport Titanium,2014,575000,36000,Diesel,Ford,22369